
.nav-link {
  color: #1b5759;
}


h1 h2 h3 h4 h5 h6 p {
  color: #1b5759;
}

.attributes {
  color: lightgray;
}

.socials {
  display: flex;
  flex-direction: row;
}

.facebook {
  width: 50px;
  margin: 5px;
}

.instagram {
  width: 57px;
  margin: 5px;
}

.treatments-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2em;
}


.swedish-box {
  width: 45%;
}

.deep-tissue-box {
  width: 45%;
}

.contact-page {
  background-color: whitesmoke;
}



.landing-page {
  margin: 0;
  background-image: url('photos/beach-cropped.png');
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-page {
  background-color: grey;
}

.page-info {
  padding: 8rem;
  border: solid 3px blue;
}
