h1 h2 h3 h4 h5 h6 p {
  color: 1b5759ff;
}

.treatments-box {
  display: flex;
  flex-direction: row;
  width: 100%;
}


.swedish-box {
  width: 30%;
}

.deep-tissue-box {
  width: 30%;
}

.contact-page {
  background-color: gray;
}



.landing-page {
  margin: 0;
  background-image: url('photos/beach-cropped.png');
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-page {
  background-color: grey;
}

.page-info {
  padding: 2rem;
}
