

/* Change text colour of navbar links */
.navbar .nav-link {
  color: #1b5759 !important; /* Your desired colour */
}

/* Change text colour when hovering over navbar links */
.navbar .nav-link:hover {
  color: black !important; /* Your desired hover colour */
}

/* Change navbar brand text colour */
.navbar .navbar-brand {
  color: #1b5759 !important; /* Your desired colour */
}


.navbar {
  background: linear-gradient(to bottom, #eab3e8, #e47678); /* Gradient from green to gold */
}

.custom-text {
  color: #ff5733; /* Custom colour */
}

.custom-text {
  color: #ff5733; /* Custom colour */
}



.nav-link {
  color: #1b5759;
}


h1 {
  color: #1b5759;
}

h2 {
  color: #1b5759;
}

h3 {
  color: #1b5759;
}

h4 {
  color: #1b5759;
}

h5 {
  color: #1b5759;
}

h6 {
  color: #1b5759;
}

p {
  color: #1b5759;
}

.attributes {
  color: lightgray;
}

.socials {
  display: flex;
  flex-direction: row;
}

.facebook {
  width: 50px;
  margin: 5px;
}

.instagram {
  width: 57px;
  margin: 5px;
}

.treatments-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2em;
}


.swedish-box {
  width: 45%;
}

.deep-tissue-box {
  width: 45%;
}

.contact-page .locations-page {
  background-color: whitesmoke;
}

.locations-page {
  background-color: whitesmoke;

}


.landing-page {
  margin: 0;
  background-image: url('photos/beach-cropped.png');
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-page {
  background-color: grey;
}

.page-info {
  padding: 4rem;
  background-color: whitesmoke;
}
